@keyframes progress {
    0% {
        background-position: -250% 0;
    }
    100% {
        background-position: calc(250%) 0;
    }
}

.react-skeleton {
    /* animation: progress 1.2s ease-in-out infinite; */
}

/* .react-skeleton{
    content: '';
    animation: progress 1.2s ease-in-out infinite;
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f7f7f7, #eee);
    background-size: 60% 100%;
    background-repeat: no-repeat;
    line-height: 1;
    width: 100%;
    height: 100%;
} */